<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297920942212-it19pig292pknv11sbglff9sqo96i2d6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297920942212-it19pig292pknv11sbglff9sqo96i2d6</string>
	<key>API_KEY</key>
	<string>AIzaSyA2t89YLB2GVrP77tp0EF0veL7EE3AnigM</string>
	<key>GCM_SENDER_ID</key>
	<string>297920942212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.ac.imperial.doc.SwiftStaff</string>
	<key>PROJECT_ID</key>
	<string>swiftstaff-db5e5</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftstaff-db5e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297920942212:ios:1b17e07af3be0926d772d1</string>
	<key>DATABASE_URL</key>
	<string>https://swiftstaff-db5e5.firebaseio.com</string>
	<key>NSCameraUsageDescription</key>
    <string>This will let you take photos</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>This will let you upload a photo</string>
</dict>
</plist>